# Dev environment
pip
autopep8

# App
#flask
#cellpose==3.0.10 # DO NOT REMOVE, this is the version that accepts choosing models
cellpose

tifffile
imagecodecs[all]

opencv-python
scikit-image

scipy
pyarrow

matplotlib

pandas

pytest
pytest-mock